@model EShop.MVC.Models.ShoppingCartList

@{
    ViewBag.Title = "Delete";
}

@*borrar productos del carrito*@
<h2>Eliminar</h2>

<h3>¿Seguro que quieres eliminar la línea?</h3>
<p></p>
<div>


    @*    <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Product)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

        </dl>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />


        </div>

        @*<p>@Html.ActionLink("Carrito", "Index")</p>*@
    }
</div>
