@model EShop.MVC.Models.OrderViewModel

@{
    ViewBag.Title = "Details";
}
@*vista de detalle de pedido*@
<h2>Detalle del pedido</h2>

<div>

    <hr />
    <dl class="dl-horizontal">

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>

    </dl>
</div>


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-sltr{background-color:#4472C4;color:#FFF;font-weight:bold;text-align:left;vertical-align:bottom}
.tg .tg-3jyw{background-color:#4472C4;border-color:inherit;color:#FFF;font-weight:bold;text-align:left;vertical-align:bottom}
.tg .tg-4qup{background-color:#D9E1F2;text-align:left;vertical-align:bottom}
.tg .tg-7zrl{text-align:left;vertical-align:bottom}
.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}
</style>
<div class="tg-wrap">
    <table class="tg">
        <thead>
            <tr>
                <th class="tg-3jyw"><span style="font-weight:700;text-decoration:none;color:white;background-color:#4472C4">Producto</span></th>
                <th class="tg-3jyw"><span style="font-weight:700;text-decoration:none;color:white;background-color:#4472C4">Precio</span></th>
                <th class="tg-3jyw"><span style="font-weight:700;text-decoration:none;color:white;background-color:#4472C4">Cantidad</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderLines)
            {
                <tr>
                    <td class="tg-4qup"><span style="font-weight:400;text-decoration:none;color:black;background-color:#D9E1F2">@item.ProductName</span></td>
                    <td class="tg-4qup"><span style="font-weight:400;text-decoration:none;color:black;background-color:#D9E1F2">@item.Price</span></td>
                    <td class="tg-4qup"><span style="font-weight:400;text-decoration:none;color:black;background-color:#D9E1F2">@item.Quantity</span></td>
                    
                </tr>
            }
            </tbody>
    </table>
</div>






@*<table>
    <tr>
        <th>
            Producto
        </th>
        <th>
            Precio
        </th>
        <th>
            Cantidad
        </th>

    </tr>

    @foreach (var item in Model.OrderLines)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>

        </tr>
    }
</table>*@
<p>

    @Html.ActionLink("Listado de pedidos", "Index")
</p>
